
* {
  box-sizing: border-box;
}

body{

  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding-top: 20px;
  background-image: url("https://wallpaperfx.com/uploads/wallpapers/2010/03/31/583/preview_summer-great-background.jpg") no-repeat;
  background-size: cover;

}

.App {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

header {
  margin-top: 5%;
}

nav {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}

.auth {
 display: flex;
}

.log {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgb(109, 223, 179);
  color: rgb(255, 251, 251);
  margin-left: 10px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.signout {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgb(109, 223, 179);
  color: rgb(255, 251, 251);
  margin-left: 10px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.middle {
 width: 100%;
 display: flex;
 justify-content: center;
}

.img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  justify-content: space-envenly;
  
}

.img.digit {
 margin-left: 20px;
}

.intro {
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  line-height: 0px;
  margin-top: 10px;
  align-items: center;
  justify-content:center;
  background:rgb(194, 187, 129);
  color: rgb(97, 95, 95);
}

.txtOne {
   margin-right: 293px;
}


.log-in {
    width: 400px;
    height: 450px;
    display:flex;
    flex-flow: column wrap;
    position: fixed;
    top: 100px;
    right: 700px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    align-items: center;
    background: rgb(185, 206, 214);
    border-radius: 20px;
    z-index: 1;
}

.user {
   padding: 0 20px;
}

.email {
   width: 300px;
   height: 50px;
   font-size: 20px;
   outline:none;
   border:none;
   border-radius: 10px;
   margin-top: -15px;
}

.password {
   width: 300px;
   height: 50px;
   font-size: 20px;
   outline: none;
   border:none;
   border-radius: 10px;
   margin-top: -15px;
}


.close-btn {
  width: 30px;
  height: 30px;
  margin-left: 200px;
  border: none;
  outline:none;
  background: none;
  font-size: 20px;
  margin-top: 10%;
}

.submit {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border:none;
    outline:none;
    font-size: 20px;
}

.submit.login:hover {
    
    background: greenyellow;
    cursor: pointer
}

.submit.sign:hover {
    background: greenyellow;
    cursor: pointer;
}

.sign-up {

    width: 400px;
    height: 450px;
    display:flex;
    flex-flow: column wrap;
    position: fixed;
    top: 100px;
    right: 700px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    align-items: center;
    background: rgb(185, 206, 214);
    border-radius: 20px;
    z-index: 1;
}

.firstname {
  width: 300px;
  height: 50px;
  font-size: 20px;
  outline: none;
  border:none;
  border-radius: 10px;
  margin-top: -15px;
}

.success {
  color: blue;
}

.error {
  color: red;
}

.chat {
    width: 450px;
    height: 600px;
    border:2px solid rgb(97, 95, 95);
    border-radius: 10px;
    position: fixed;
    text-align: center;
    top: 300px;
    right: 50px;
    color: skyblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 10;
    background: white
}

.hide {
  display: none;
}

.chatIcon {
    width: 10%;
    height: 15%;
    position: fixed;
    top: 720px;
    right: 50px;
    cursor: pointer;
    border: none;
    outline: none
}

.chatIcon:hover{
    color:hotpink;
}

.hid {
   position: relative;
   top: 20px;
   right: -160px;
   font-size: 1.5rem;
   background: none;
   border:none;
   outline: none;
   cursor: pointer
}







































































































































































































































































































































